@import url(http://fonts.googleapis.com/css?family=Lobster|Ubuntu);
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  background: #d1dbbd;
}

a { 
  color: #3e606f;
}

a:hover {
  color: #193441;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header.navbar {
  background: #193441;
  border-radius: 0;
  border-color: transparent;
}

/* navbar default color */
header.navbar a.navbar-brand,
header.navbar ul.social li a i,
header.navbar ul.primary-links li a {
  color: #d1dbbd;
}

/* navbar hover & active color */
header.navbar a.navbar-brand:hover,
header.navbar ul.primary-links li a:hover,
header.navbar ul.primary-links li.active a,
header.navbar ul.primary-links li.active a:hover {
  background: transparent;
  color: #fcfff5;
}

/* branding */
header.navbar-default a.navbar-brand {
  letter-spacing: 0.2rem;
  font-family: "Lobster", sans-serif;
  font-weight: normal;
  font-size: 2.5em;
}

/* main menu */
.navbar ul.primary-links {
  margin-right: 2rem;
}

.navbar ul.primary-links li a {
  padding-top: 17px;
  font-weight: bold;
}

/* social icons */
ul.social li {
  margin: 1rem 0.5rem;
}

ul.social li a {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #d1dbbd;
  padding: 0.5rem;
  text-align: center;
} 

ul.social li.flickr a:hover {
  background-color: #72858c;
  border-color: #72858c;
}

ul.social li.github a:hover {
  background-color: #4183c4;
  border-color: #4183c4;
}

ul.social li.rss a:hover {
  background-color: #f16b24;
  border-color: #f16b24;
}

ul.social li.tumblr a:hover {
 background-color: #2c4762;
 border-color: #2c4762;
}

ul.social li.twitter a:hover {
  background-color: #44ccf6;
  border-color: #44ccf6;
}

div.main-content {
  padding-bottom: 4rem;
  margin-bottom: 6rem;
  background-color: #fcfff5;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

article.post {
  margin: 4rem 6rem;
}

article.post h2 {
  border-bottom: 1px solid #d1dbbd;
  font-size: 2.8rem;
}

article.post .post-tags,
article.post .post-time {
  margin: 0.25em;
  font-style: italic;
  font-size: 1.2rem;
  color: #193441;
}

article.post .post-tags .fa,
article.post .post-time .fa {
  color: #193441;
}

article.post .post-content {
  margin-top: 1em;
  text-align: justify;
}

