{% extends "base.html" %}
{% block content %}
            {% if articles %}
            <main class="content" role="main">
            {% for article in (articles_page.object_list if articles_page else articles) %}
                <article class="post">
                    <header class="post-header">
                        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                        <span class="post-time">
                            <i class="fa fa-calendar"> </i>
                            <time datetime="{{ article.date| strftime('%A, %B %d, %Y') }}">
                                {{ article.date| strftime('%A, %B %d, %Y') }}
                            </time>
                        </span>
                        {% if article.tags %}
                        <span class="post-tags pull-right">
                            <i class="fa fa-tags"></i>
                            {% for tag in article.tags %}
                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                        {% endif %}
                    </header>
                    <section class="post-content">
                    {{ article.content }}
                    </section>
                </article>
            {% endfor %}
            </main>
            {% endif %}

            {% if articles_page and articles_paginator.num_pages > 1 %}
            <nav class="col-md-12 text-center pagination">
                <ul class="pager">
                {% if articles_page.has_previous() %}
                {% set num = articles_page.previous_page_number() %}
                    <li class="previous">
                        <a href="{{ SITEURL }}/{% if num > 1 %}page/{{ num }}/{% endif %}index.html">&laquo;</a>
                    </li>
                {% else %}
                    <li class="previous disabled"><a href="#">&laquo;</a></li>
                {% endif %}
		<li class="which-page text-center">Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</li>
                {% if articles_page.has_next() %}
                    <li class="next">
                        <a href="{{ SITEURL }}/{{ articles_page.next_page_number() }}/index.html">&raquo;</a>
                    </li>
                {% else %}
                    <li class="next disabled"><a href="#">&laquo;</a></li>
                {% endif %}
                </ul>
            </nav>
            {% endif %}

{% endblock %}
