$font-family-base:			"Ubuntu", sans-serif;
$font-size-base:			16px;
$body-bg:				#d1dbbd;
$link-color:				#3e606f;
$headings-font-weight:			normal;
$blockquote-border-color:		#fff;
$navbar-default-bg:			#193441;
$navbar-border-radius:			0;
$navbar-default-border:			transparent;
$navbar-default-brand-color:		#d1dbbd;
$navbar-default-link-color:		#d1dbbd;
$navbar-default-link-hover-color:	#fcfff5;
$navbar-default-link-hover-bg:		transparent;
$navbar-default-link-active-color:	#fcfff5;
$navbar-default-link-active-bg:		transparent;

@import url(https://fonts.googleapis.com/css?family=Lobster|Ubuntu);

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.2rem;
  margin: 0;
}

blockquote {
  p {
    font-style: italic;
    font-size: 1.4rem;
    margin: 1rem 3rem;
    color: #555;
  }
}
