$font-family-base:	"Ubuntu", sans-serif;
$body-bg:		#d1dbbd;

@import url(https://fonts.googleapis.com/css?family=Lobster|Ubuntu);

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

body {
  font-size: 1.5em;
}
